<div class="panel-group" id="accordion">
  <div class="faqHeader">General</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">                                                                                                                                                                   A step is failing without explanations             
      </h4>
    </div>
    <div class="panel-body">
      The most probable cause is a misformatted input data file, or an input data file containing unexpected characters (e.g. the data table should contain only numeric values).
    </div>
  </div>

  <div class="faqHeader">Batch effect correction</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">                                                                                                                                                               How to use the batch file?                                                                                                                                                 
      </h4>
    </div>
    <div class="panel-body">
      The batch file can be used in 2 locations: 1) just after the normalization (using Combat) to adjust the data for batch effect, and 2) during the differential expressed gene calculation (by incorporating it into the design model, e.g. in the case you want to do paired statistics). You can also use it to color cells in the visualization plots.
    </div>
  </div>

  <div class="faqHeader">Visualization</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        The 3D plot is blinking?
      </h4>
    </div>
    <div class="panel-body">
      Updating your browser should fix this issue.
    </div>
  </div>
</div>

